
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>
<h3>ID: @ViewBag.ID</h3>
<h3>Admin name: @ViewBag.AdminName</h3>
<p>
    Admin: @ViewBag.Role
</p>