
@{
    ViewBag.Title = "NotificationEmailConfirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Notification Email Confirm</h2>
<p>Please check mail to confirm your email to be able to login</p>

