@{
    ViewBag.Title = "Home Page";
}

<div>
    indexpage
</div>

<div class="footer">

    <div class="row">
        <div class="col-md-12">
            <div class="text-center footer">
                <h3 style="font-weight: bold; font-style: normal; color: #95171F;">StockP</h3>
                <p>PHONE: </p>
                <p>
                    Store's address: 
                </p>
                <p>Email: </p>
                <p>Copyrights &copy; . All Rights Reserved.</p>
            </div>
        </div>
    </div>
</div>