@{
    ViewBag.Title = "Home Page";
}

<div>
    indexpage
</div>

<!--<div class="container-fluid" class="nav" style="width: 100vw; padding: 0px;">
    <div id="wrapper">
        <div id="header">
            <div id="toggle">
                <i class="fas fa-bars"></i>
            </div>
            <nav>
                <ul id="main-menu">
                    <a href="">
                        <img style="height: 100px" src="./images/StockP__3_-removebg-preview.png">
                    </a>
                    <li>
                        <a href="">BASKETBALL</a>
                    </li>
                    <li>
                        <a href="">FOOTBALL</a>
                    </li>
                    <li>
                        <a href="">RUNNING</a>
                    </li>
                    <li>
                        <a href="">LIFESTYLE</a>
                    </li>
                    <li>
                        <a href="">LOG IN/LOG OUT</a>
                    <li>
                        <a href="">REGISTER</a>
                    </li>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-shopping-cart"></i>
                        </a>
                    </li>
                </ul>
                <div class="row">
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-4">
                        <input type="text" placeholder="Search" class="search" placeholder="Search">
                        <button type="button" class="button-1">Search</button>
                    </div>
                    <div class="col-md-1">

                    </div>
                </div>
            </nav>
        </div>
    </div>-->
    <!-- <script>
        $(document).ready(function () {
            $('#toggle').click(function () {
                $('nav').slideToggle();
            });
        })
    </script> -->


<!--</div>-->

<!--Kết thúc container-fluid-->

<!--<div class="container">

    <div class="row">

        <div class="col-md-12 text-center">
            <h1>
            </h1>
        </div>

    </div>

    <div class="row">

        <div class="col-md-1">

        </div>

        <div class="col-md-4">
            <div class="text-center">
                <a href="">
                    <img style="width:100%" class="img-responsive" src="images/basketball2.png" />
                </a>
                <div class="service-item">
                    <h3 class="sertice-item-titile">BASKETBALL</h3>
                    <p>Các mẫu giày đẹp bóng rổ</p>
                </div>
            </div>
        </div>

        <div class="col-md-2">

        </div>

        <div class="col-md-4">
            <div class="text-center">
                <a href="">
                    <img style="width:100%" class="img-responsive" src="images/fooball1.jpg" />
                </a>
                <div class="service-item">
                    <h3 class="sertice-item-titile">FOOTBALL</h3>
                    <p>Các mẫu giày đẹp bóng đá</p>
                </div>
            </div>
        </div>

        <div class="col-md-1">

        </div>

    </div>

    <div class="row">

        <div class="col-md-1">

        </div>

        <div class="col-md-4">
            <div class="text-center">
                <a href="">
                    <img style="width:100%" src="images/runnig.png" class="img-responsive" />
                </a>
                <div class="item">
                    <div class="service-item">
                        <h3 class="sertice-item-titile">RUNNING</h3>
                        <p>Các mẫu giày đẹp chạy bộ</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-2">

        </div>

        <div class="col-md-4">
            <div class="text-center">
                <a href="">
                    <img style="width:100%" src="images/lifestyle.png" class="img-responsive" />
                </a>
                <div class="item">
                    <div class="service-item">
                        <h3 class="sertice-item-titile">LIFETSTYLE</h3>
                        <p>Các mẫu giày đẹp đường phố</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-1">

        </div>

    </div>
</div>

<div class="footer">

    <div class="row">
        <div class="col-md-12">
            <div class="text-center footer">
                <h3 style="font-weight: bold; font-style: normal; color: #95171F;">StockP</h3>
                <p>PHONE: 0748523113</p>
                <p>
                    Store's address: Đường D1, Đ. D1, Long Thạnh Mỹ, Thành Phố Thủ Đức, Thành phố Hồ Chí Minh
                    700000
                </p>
                <p>Email: StockP@store.fpt.com</p>
                <p>Copyrights &copy; by PRJ Class. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</div>-->