@model IEnumerable<WebApplication1.Models.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="table">
    <tr>
        <th>
            STT
        </th>
        <td>
            ID
        </td>
        <th>
            Thời gian đặt
        </th>
        <th>
            Trạng thái đơn hàng
        </th>
        <th>
            Vận chuyển
        </th>
        <th></th>
    </tr>

    @{ int i = 0;}
    @foreach (WebApplication1.Models.Order item in Model)
    {
        <tr>
            <td>
                <span>@(++i)</span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.orderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.orderDate)
            </td>
            <td>
                @switch (item.status)
                {
                    case 0:<span>Chưa xác nhận</span> break;
                    case 1: <span>Đã xác nhận</span>break;
                    case 2: <span>Shipper đã nhận đơn</span>break;
                    case 3: <span>Đã hoàn thành</span>break;
                }
            </td>
            <td>
                @switch (item.shipping)
                {
                    case 0:<span>Chưa nhận đơn</span> break;
                    case 1: <span>Đang giao</span>break;
                    case 2: <span>Đã giao</span>break;
                }
            </td>

            <td>
                <input type="button" value="Chi tiết" onclick="location.href='@Url.Action("Index", "OrderDetails", new { orderID = item.orderID })'" />
            </td>
        </tr>
    }

</table>
